<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update</title>
    </head>
    <body>
        <h2>Update an item</h2>
        <br>
        <form action="/item/update" method="post">
            Name
            <br>
            <input type="text" name="name" value="<%= name %>">
            <br>
            Type
            <br>
            <input type="text" name="type" value="<%= type %>">
            <br>
            Quantity
            <br>
            <input type="number" name="quantity" value="<%= quantity %>">
            <br>
            Address
            <br>
            <input type="text" name="address" value="<%= address %>">
            <br>
            <button type="submit">Update</button>
            <button onclick="history.back()">Go Back</button>
        </form>
    </body>
</html>